<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/nav.css">
    <link rel="stylesheet" type="text/css" href="css/nav.css" th:href="@{/css/nav.css}">



    <script   src="https://code.jquery.com/jquery-3.4.1.js"   integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="   crossorigin="anonymous"></script>
</head>
<body>
<div class="navbar">
    <a href="#" class="logo">Tech Shop</a>
    <ul class="nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">Cart</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>

    </ul>

</div>


</body>
</html>