<!DOCTYPE html>
<html xmlns:th=”http://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <title>Account Settings</title>
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>


</head>
<body>
<h1 style="text-align: center">Looks like your account is deactivated :(</h1>
<br>
<h2>If you want to activate it again please let us know by typing your last active  email and password: </h2>
<form th:action="@{'/activation'}" th:method="post">
    <div class="form-row align-items-center">

        <div class="col-auto">
            <label class="sr-only" for="inlineFormInputGroup">@ E-mail</label>
            <div class="input-group mb-2">
                <input type="text" th:name="email" class="form-control" id="inlineFormInputGroup" placeholder="somemail@gmail.com">
            </div>
        </div>
        <div class="col-auto">
            <label class="sr-only" for="inlineFormInput">Password</label>
            <div class="input-group mb-2">
                <input type="password" th:name="password" class="form-control mb-2" id="inlineFormInput" placeholder="Password">
            </div>
        </div>

        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2">Confirm</button>
        </div>
    </div>
</form>

</body>
</html>