<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category Detail</title>
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/categories.css" th:href="@{/css/categories.css}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

    <script>
        $(function () {
            $("#navs").load("/basicContent/nav");
        });
    </script>




</head>
<body>
<div id="navs"></div>

<div class="navbar">
    <a href="#" class="logo">Tech Shop</a>
    <ul class="nav">
        <li><a th:href="@{'/items'}">Home</a></li>
        <li><a href="#">Cart</a></li>
        <li><a th:href="@{'/about'}">About</a></li>
        <li><a th:href="@{'/contact'}">Contact</a></li>
        <th:block th:if="${client==null}">
            <li><a th:href="@{'/login'}">Log in</a></li>
            <li><a th:href="@{'/register'}">Sign up</a></li>
        </th:block>
        <li><a th:href="@{'/login'}">Log out</a></li>
    </ul>

</div>




<div class="container">
    <br/>
<br/>
    <form th:action="@{/login}" method="GET">
    </form>
    <th:block th:if="${client == null}">
        <span style="color: #0056b3" ><a href="/login">Not logged in</a></span>
    </th:block>

    <th:block th:if="${client  != null}">
        <span style="color: #0056b3" ><a href="/login" th:text="${client.getEmail()}"></a></span>
    </th:block>


    <h2>Products of this category</h2>

    <div class="row" >

        <div class="col=md-3" th:each="item : ${list}">
            <div class="product-top">
                <a th:href="@{'/item/' + ${item.getName()}}"> <img th:attr="src=${item.getImageUrl()}"
                                                                   alt="${item.getName()}"></a>

                <div class="overlay">
                    <button   type="button" class="btn btn-secondary" id="quicklook" title="Quick Look"><i class="fa fa-eye"></i>
                    </button>
                    <button type="button" class="btn btn-secondary" title="Add to WishList"><i class="fa fa-heart"></i>
                    </button>
                    <button  onclick="pop()" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fa fa-shopping-cart"></i>
                    </button>




                    <div>

                        <div id="box">

                            <span><ion-icon name="checkmark-outline"></ion-icon></span>

                            <h1 th:text="${item.getName()}"> </h1>
                            <h1 > has been added to Cart</h1>
                            <a  onclick="pop()" class="close">Back</a>
                        </div>

                        <script type="text/javascript">
                            var x =0;
                            function pop(){
                                if (x==0){
                                    document.getElementById("box").style.display ="block";
                                    x=1;
                                }else {
                                    document.getElementById("box").style.display ="none";
                                    x=0;
                                }
                            }
                        </script>

                </div>
            </div>

            <div class="product-bottom text-center">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <h3 th:text="${item.getName()}" th:href="@{'/item/' + ${item.getName()}}"> </h3>
                <h5 th:text="${item.getPrice()}"></h5>
                <h5 th:text="${item.getCurrency()}"></h5>

            </div>
        </div>



    </div>

</div>
</div>
</body>
</html>