.navbar {
    position: fixed;
    top:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #d4f6b2;
    width: 100%;
    height: 70px;
    z-index: 1;



}

.nav {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
    /* letter-spacing: 3px; */

}
a {
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: #000;
}


.logo {
    flex: 1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 35px;
}

