.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.button{
    background-color: blue;
    border: 2px solid white;
    border-radius: 30px;
    text-decoration: none;
    padding: 10px 28px;
    color: white;
    margin-top: 10px;
    display: inline-block;

}
.modal-content{
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 4px;
    position: relative; /*makes items of Modal main*/
}
.close{
    position: absolute;
    top:0;
    right: 14px;
    font-size: 38px;
    transform: rotate(45deg); /*roraits and make X*/
    cursor: pointer;
}